{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Форум</title>
    <link rel="stylesheet" href="{% sass_src 'scss/main.scss' %}">


</head>
<body>
	<header>
		<h1>Ласкаво просимо на форум!</h1>
		<nav>
			 <a href="{% url 'index' %}">Головна</a>
			 <a href="{% url 'create_post' %}">Створити пост</a>
			 {% if user.is_authenticated %}
				  <a href="{% url 'logout' %}">Вийти</a>
			 {% else %}
				  <a href="{% url 'login' %}">Увійти</a>
				  <a href="{% url 'register' %}">Реєстрація</a>
			 {% endif %}
		</nav>
  </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Форум © 2025</p>
    </footer>
</body>
</html>
