{% extends 'forum/base.html' %}
{% load static %}
{% block title %}Forum{% endblock %}
{% block content %}
<div class="main-container-index">
    <div class="left-column">
        <aside class="sidebar">
            <h2>Категорії</h2>
            <ul>
                {% for category in categories %}
                    <li>
                        <a href="{% url 'posts_by_category' category.id %}"
                           {% if selected_category and selected_category.id == category.id %}
                           class="active-category"
                           {% endif %}>
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </aside>

        <div class="donatebar" style="display:inline-block; box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.15); border-radius: 10px; font-size: 20px;">
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="MaksymV" data-color="#ffffff" data-emoji="☕"  data-font="Inter" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#FFDD00" ></script>
        </div>
    </div>




    
    
    <section class="posts">
        <h2>Останні публікації</h2>
        {% for post in posts %}
        <div class="post-card">
            <div class="vote-box">
                <span class="vote-up" onclick="vote({{ post.id }}, 'up')">↑</span>
                <span class="vote-count" id="score-{{ post.id }}">{{ post.vote_score }}</span>
                <span class="vote-down" onclick="vote({{ post.id }}, 'down')">↓</span>
            </div>
            <div class="post-content">
                <h3><a href="{% url 'post_detail' post.id %}" class="no-underline">{{ post.title }}</a></h3>
                <p class="meta">
                    <img src="{% static 'image/message.png' %}" width="10" height="10" alt="Коментарі">
                    Автор: {{ post.author.username }} – {{ post.created_at|timesince }} тому
                </p>
                <p>{{ post.body|truncatechars:100 }}</p>
                {% if post.comments.last %}
                    <p class="last-comment"><strong>Останній коментар:</strong> {{ post.comments.last.body|truncatechars:50 }}</p>
                {% endif %}
            </div>
        </div>        
        {% endfor %}
    </section>
</main>
<script>
    function vote(postId, direction) {
        fetch(`/vote/${postId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: `direction=${direction}`
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById(`score-${postId}`).innerText = data.score;
        });
    }
</script>
    
{% endblock %}
