/* Основна сітка */
.main-container-index {
	display: flex;
	gap: 2rem;
	align-items: flex-start;
	padding: 2rem;
	max-width: 1200px;
	margin: 0 auto;
}

.vote-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.2rem;
	user-select: none;
	color: #5b46f5;
}

.meta {
	font-size: 0.9rem;
	color: #777;
	margin-bottom: 0.5rem;
}

.last-comment {
	font-size: 0.9rem;
	font-style: italic;
	color: #444;
}
