/* Останній коментар */
.last-comment {
	font-style: italic;
	color: #555;
	margin-top: 0.5rem;
	display: flex;
	align-items: center;
	gap: 5px;
}

.last-comment img {
	width: 10px;
	height: 10px;
}
/* Клікабельність поста */
.post-content a {
	color: #333;
	text-decoration: none;
}
/* Пост */
.main-container-post {
	max-width: 900px;
	margin: 0 auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.full-width-header {
	background: #fff;
	border-radius: 12px;
	padding: 1.5rem;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.15);
}

.post-header h2 {
	margin: 0;
	font-size: 1.8rem;
	font-weight: 700;
}

.meta {
	font-size: 0.9rem;
	color: #666;
	margin-top: 0.4rem;
}

.post-body p {
	font-size: 1rem;
	margin-top: 1rem;
}

.post-body p {
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.5;
    color: #333;
    white-space: pre-line;
}
.post-image-caption {
    font-size: 0.85rem;
    color: #777;
    margin-top: 0.4rem;
    font-style: italic;
}
.comment-box {
	background: #f9f9f9;
	border-left: 3px solid #5b46f5;
	padding: 0.8rem;
	margin-bottom: 1rem;
	border-radius: 6px;
	word-wrap: break-word;
}

.comments-section {
	padding: 1rem;
	background-color: #f9f9f9;
	border-radius: 12px;
	box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

.comment-form textarea {
	width: 100%;
	padding: 0.8rem;
	min-height: 120px;
	border-radius: 6px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	resize: vertical;
}

.comment-form button {
	margin-top: 10px;
	background-color: #5b46f5;
	color: white;
	padding: 0.5rem 1.2rem;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

.form-box label {
	display: block;
	margin-bottom: 0.3rem;
	font-weight: 500;
	color: #444;
	font-size: 1rem;
}

.form-box ul.errorlist {
	list-style: none;
	padding-left: 1.2rem;
	color: #b00020;
	margin-top: 0.2rem;
	margin-bottom: 1rem;
	font-size: 0.9rem;
	max-width: 100%;
	word-break: break-word;
}

.form-box ul.errorlist li {
	line-height: 1.4;
	margin-bottom: 0.4rem;
}

.form-box .helptext {
	font-size: 0.8rem;
	color: #666;
	margin-top: 0.2rem;
	display: block;
	max-width: 100%;
	word-break: break-word;
	line-height: 1.4;
}

.btn {
	background-color: #5b46f5;
	color: white;
	padding: 0.5rem 1.2rem;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}